/* #navbar{
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: right;
    border: 2px solid teal;
    margin-left: 30px;
    padding: 10px;

}
a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 30px;
} */
#navbar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}

#navbar:hover {
    border: none;
    background-color: #1e1e1e;
}

#navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: large;
}

li {
    float: left;
}

li a {
    font-size: x-large;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0px 40px;
}

li a:hover {
    color: white;
}

/* Navbar styleSheet ends here */

body {
    background-color: black;
}
#slideshow {
    width: 100%;
    height: auto;
}

#slideshow:hover {
    cursor: pointer;
}

#slideshow img {
    height: 450px;
    border-radius: 10px;
    width: 100%;
}

#movies {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.zoom {
    transition: transform .2s; 
}
/* .zoom:hover {
    cursor: pointer;
    transform: scale(1.1); 
  } */

#movies div {
    margin: auto;
    border-radius: 10px;
    background-color: beige;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 400px;
}

#movies div img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

#movies div h2 {
    line-height: 10px;
    color: black;;
}

#sort-buttons {
    width: 40%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#sort-buttons {
    width: 40%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#sort-buttons button {
    border-radius: 10px;
    width: 150px;
    height: 60px;
    font-size: large;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
 @media only screen and(min-width:421px)and(max-width:780px) {
     #movies{
         grid-template-columns: repeat(2,1fr);
        
     }
     

     
 }
 @media only screen and(min-width:70px)and(max-width:420px) {
    #movies{
        grid-template-columns: repeat(1,1fr);
       
    }
}